# Importando as bibliotecas e o dataset

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

data = pd.read_csv('datasets/video-game-sales-with-ratings/Video_Games_Sales_as_at_22_Dec_2016.csv')
data.columns = ['Nome', 'Plataforma', 'Ano de lancamento', 'Genero', 'Publicadora', 'Vendas NA', 'Vendas EU', 'Vendas JP', 'Outras vendas', 'Vendas globais', 'Pontuacao da critica', 'Contagem de criticas', 'Pontuacao dos usuarios', 'Contagem de usuarios', 'Desenvolvedora', 'Classificacao']
data.head()

,Nome,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

## Informações do dataset

### Informações gerais

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
Nome                      16717 non-null object
Plataforma                16719 non-null object
Ano de lancamento         16450 non-null float64
Genero                    16717 non-null object
Publicadora               16665 non-null object
Vendas NA                 16719 non-null float64
Vendas EU                 16719 non-null float64
Vendas JP                 16719 non-null float64
Outras vendas             16719 non-null float64
Vendas globais            16719 non-null float64
Pontuacao da critica      8137 non-null float64
Contagem de criticas      8137 non-null float64
Pontuacao dos usuarios    10015 non-null object
Contagem de usuarios      7590 non-null float64
Desenvolvedora            10096 non-null object
Classificacao             9950 non-null object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

### Estatísticas descritivas

In [3]:
data.describe()

,Ano de lancamento,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Contagem de usuarios
count,16450.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,8137.000000,8137.000000,7590.000000
mean,2006.487356,0.263330,0.145025,0.077602,0.047332,0.533543,68.967679,26.360821,162.229908
std,5.878995,0.813514,0.503283,0.308818,0.186710,1.547935,13.938165,18.980495,561.282326
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,24.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,81.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

### Anotações imediatas

A princípio penso em focar nas colunas Genre, Platform, Global_Sales, Critic_Score, User_Score e Rating.

## Limpando os dados

### Alterando valores da coluna Gênero

In [4]:
generos = data['Genero'].copy()
generos[generos== 'Sports'] = 0
generos[generos== 'Platform'] = 1
generos[generos== 'Racing'] = 2
generos[generos== 'Role-Playing'] = 3
generos[generos== 'Puzzle'] = 4
generos[generos== 'Misc'] = 5
generos[generos== 'Shooter'] = 6
generos[generos== 'Simulation'] = 7
generos[generos== 'Action'] = 8
generos[generos== 'Fighting'] = 9
generos[generos== 'Adventure'] = 10
generos[generos== 'Strategy'] = 11
data['Genero'] = generos

### Alterando valores da coluna Platform

In [5]:
plataforma = data['Plataforma'].copy()
plataforma[plataforma == 'Wii'] = 0
plataforma[plataforma == 'NES'] = 1
plataforma[plataforma == 'GB'] = 2
plataforma[plataforma == 'DS'] = 3
plataforma[plataforma == 'X360'] = 4
plataforma[plataforma == 'PS3'] = 5
plataforma[plataforma == 'PS2'] = 6
plataforma[plataforma == 'SNES'] = 7
plataforma[plataforma == 'GBA'] = 8
plataforma[plataforma == 'PS4'] = 9
plataforma[plataforma == '3DS'] = 10
plataforma[plataforma == 'N64'] = 11
plataforma[plataforma == 'PS'] = 12
plataforma[plataforma == 'XB'] = 13
plataforma[plataforma == 'PC'] = 14
plataforma[plataforma == '2600'] = 15
plataforma[plataforma == 'PSP'] = 16
plataforma[plataforma == 'XOne'] = 17
plataforma[plataforma == 'WiiU'] = 18
plataforma[plataforma == 'GC'] = 19
plataforma[plataforma == 'GEN'] = 20
plataforma[plataforma == 'DC'] = 21
plataforma[plataforma == 'PSV'] = 22
plataforma[plataforma == 'SAT'] = 23
plataforma[plataforma == 'SCD'] = 24
plataforma[plataforma == 'WS'] = 25
plataforma[plataforma == 'NG'] = 26
plataforma[plataforma == 'TG16'] = 27
plataforma[plataforma == '3DO'] = 28
plataforma[plataforma == 'GG'] = 29
plataforma[plataforma == 'PCFX'] = 30
data['Plataforma'] = plataforma

### Alterando valores da coluna Classificação

In [6]:
#1      E
#2      M
#3      T
#4      E10+
#5      K-A
#6      AO
#7      EC
#8      RP

classificacao = data['Classificacao'].copy()
classificacao[classificacao == 'E'] = 0
classificacao[classificacao == 'M'] = 1
classificacao[classificacao == 'T'] = 2
classificacao[classificacao == 'E10+'] = 3
classificacao[classificacao == 'K-A'] = 4
classificacao[classificacao == 'AO'] = 5
classificacao[classificacao == 'EC'] = 6
classificacao[classificacao == 'RP'] = 7
data['Classificacao'] = classificacao

### Alterando valores da coluna Publicadora

In [7]:
# x = data['Publicadora'].unique()
# for item in range(len(x)):
#     b = data[data['Publicadora']==x[item]]
#     b['Publicadora'] = item
#     data[data['Publicadora']==x[item]] = b

### Alterando valores da coluna Desenvolvedora

In [8]:
# x = data['Desenvolvedora'].unique()
# for item in range(len(x)):
#     b = data[data['Desenvolvedora']==x[item]]
#     b['Desenvolvedora'] = item
#     data[data['Desenvolvedora']==x[item]] = b

### Retirando valores vazios restantes

In [19]:
# data = data[data['Pontuacao dos usuarios'] != 'tbd']
data = data[data['Genero'].isna() != True]
data['Ano de lancamento'] = data['Ano de lancamento'].fillna(0)
data['Classificacao'] = data['Classificacao'].fillna(99)
# data['Pontuacao dos usuarios'].astype('float64')
# data = data.dropna()

data[data['Nome']=='SOCOM: U.S. Navy SEALs Fireteam Bravo 3']

# data.to_csv(r'fileCleaned.csv', sep=',', index=False)
# data = pd.read_csv('fileCleaned.csv')
# data.info()

,Nome,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao
4427,SOCOM: U.S. Navy SEALs Fireteam Bravo 3,16,2010.0,6,Sony Computer Entertainment,0.17,0.13,0.06,0.08,0.44,74.0,51.0,8,20.0,Slant Six,2

### Criando uma coluna com as médias de pontuação

In [10]:
# data['Media de pontuacao'] = 0.0

data['Plataforma'].astype('int64')
data['Genero'].astype('int64')
data['Ano de lancamento'].astype('int64')
# data['Vendas globais'].astype('float64')
# data['Pontuacao da critica'].astype('float64')
data['Classificacao'].astype('int64')
# data['Media de pontuacao'].astype('float64')

# def media(x, y):
#     return (x+y)/2
# data['Media de pontuacao'] = data.apply(lambda row: media(row['Pontuacao da critica'], row['Pontuacao dos usuarios']), axis=1)
# data.head()

0         0
1        99
2         0
3         0
4        99
5        99
6         0
7         0
8         0
9        99
10       99
11        0
12       99
13        0
14        0
15        0
16        1
17        1
18       99
19        0
20       99
21       99
22       99
23        1
24        1
25       99
26        0
27       99
28        0
29        1
         ..
16689    99
16690    99
16691    99
16692     2
16693    99
16694    99
16695    99
16696     1
16697    99
16698    99
16699     0
16700     2
16701     0
16702     0
16703    99
16704    99
16705    99
16706     3
16707    99
16708     0
16709    99
16710     2
16711    99
16712    99
16713    99
16714    99
16715    99
16716    99
16717    99
16718    99
Name: Classificacao, Length: 16717, dtype: int64

### Informações finais do Dataframe

In [11]:
data.describe()

,Ano de lancamento,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Contagem de usuarios,Classificacao
count,16717.000000,16717.000000,16717.000000,16717.000000,16717.000000,16717.000000,8137.000000,8137.000000,7590.000000,16717.000000
mean,1974.201771,0.263255,0.145010,0.077610,0.047333,0.533462,68.967679,26.360821,162.229908,40.782676
std,252.545637,0.813475,0.503303,0.308836,0.186721,1.547956,13.938165,18.980495,561.282326,48.020085
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000,0.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000,1.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,24.000000,2.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,81.000000,99.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000,99.000000

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16717 entries, 0 to 16718
Data columns (total 16 columns):
Nome                      16717 non-null object
Plataforma                16717 non-null object
Ano de lancamento         16717 non-null float64
Genero                    16717 non-null object
Publicadora               16663 non-null object
Vendas NA                 16717 non-null float64
Vendas EU                 16717 non-null float64
Vendas JP                 16717 non-null float64
Outras vendas             16717 non-null float64
Vendas globais            16717 non-null float64
Pontuacao da critica      8137 non-null float64
Contagem de criticas      8137 non-null float64
Pontuacao dos usuarios    10015 non-null object
Contagem de usuarios      7590 non-null float64
Desenvolvedora            10096 non-null object
Classificacao             16717 non-null int64
dtypes: float64(9), int64(1), object(6)
memory usage: 2.2+ MB

### Salvando arquivo

In [13]:
# fileCleaned = pd.DataFrame(data={'Platform': data['Platform'], 'Genre': data['Genre'], 'Global_Sales': data['Global_Sales'],
#      'Critic_Score': data['Critic_Score'], 'User_Score': data['User_Score'], 'Rating': data['Rating'], 'Score_Mean': data['Score_Mean']})
# fileCleaned.dropna().to_csv(r'fileCleaned.csv', sep=',', index=False)

# data.to_csv(r'fileCleaned.csv', sep=',', index=False)

### Abrindo o arquivo novamente

In [14]:
# data = pd.read_csv('fileCleaned.csv')
# data

In [15]:
data.describe()

,Ano de lancamento,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Contagem de usuarios,Classificacao
count,16717.000000,16717.000000,16717.000000,16717.000000,16717.000000,16717.000000,8137.000000,8137.000000,7590.000000,16717.000000
mean,1974.201771,0.263255,0.145010,0.077610,0.047333,0.533462,68.967679,26.360821,162.229908,40.782676
std,252.545637,0.813475,0.503303,0.308836,0.186721,1.547956,13.938165,18.980495,561.282326,48.020085
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000,0.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000,1.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,24.000000,2.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,81.000000,99.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000,99.000000

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16717 entries, 0 to 16718
Data columns (total 16 columns):
Nome                      16717 non-null object
Plataforma                16717 non-null object
Ano de lancamento         16717 non-null float64
Genero                    16717 non-null object
Publicadora               16663 non-null object
Vendas NA                 16717 non-null float64
Vendas EU                 16717 non-null float64
Vendas JP                 16717 non-null float64
Outras vendas             16717 non-null float64
Vendas globais            16717 non-null float64
Pontuacao da critica      8137 non-null float64
Contagem de criticas      8137 non-null float64
Pontuacao dos usuarios    10015 non-null object
Contagem de usuarios      7590 non-null float64
Desenvolvedora            10096 non-null object
Classificacao             16717 non-null int64
dtypes: float64(9), int64(1), object(6)
memory usage: 2.2+ MB

### Separando dados de treino e teste

In [17]:
from sklearn.model_selection import ShuffleSplit
rs = ShuffleSplit(n_splits=1, test_size=0.33, random_state=42)
array_train = []
array_test = []
columns = ['Nome', 'Plataforma', 'Ano de lancamento', 'Genero', 'Publicadora', 'Vendas NA', 'Vendas EU', 'Vendas JP',
           'Outras vendas', 'Vendas globais', 'Pontuacao da critica', 'Contagem de criticas', 'Pontuacao dos usuarios', 
           'Contagem de usuarios', 'Desenvolvedora', 'Classificacao']

for train_index, test_index in rs.split(data):
    #Treino
    array_train.append(train_index)
    #df_treino = pd.DataFrame(data={'Plataforma': [], 'Genero': [], 'Classificacao': []})
    ar_treino = []
    ar_teste = []
    for x in train_index:
        dict_treino = {'Plataforma': data.loc[x,'Plataforma'], 'Genero': data.loc[x,'Genero']}
        ar_treino.append(dict_treino)
    df_treino = pd.DataFrame(data=ar_treino)
    for x in test_index:
        dict_teste = {'Nome': data.loc[x,'Nome'], 'Plataforma': data.loc[x,'Plataforma'],
                       'Ano de lancamento': data.loc[x,'Ano de lancamento'], 'Genero': data.loc[x,'Genero'],
                       'Publicadora': data.loc[x,'Publicadora'], 'Vendas NA': data.loc[x,'Vendas NA'],
                       'Vendas EU': data.loc[x,'Vendas EU'], 'Vendas JP': data.loc[x,'Vendas JP'],
                       'Outras vendas': data.loc[x,'Outras vendas'], 'Vendas globais': data.loc[x,'Vendas globais'],
                       'Pontuacao da critica': data.loc[x,'Pontuacao da critica'], 'Contagem de criticas': data.loc[x,'Contagem de criticas'],
                       'Pontuacao dos usuarios': data.loc[x,'Pontuacao dos usuarios'], 'Contagem de usuarios': data.loc[x,'Contagem de usuarios'],
                       'Desenvolvedora': data.loc[x,'Desenvolvedora'], 'Classificacao': data.loc[x,'Classificacao']}
        ar_teste.append(dict_teste)
    df_teste = pd.DataFrame(data=ar_teste)

KeyError: 14246

### Salvando arquivo de teste

In [ ]:
df_teste = df_teste.drop(columns=['Publicadora', 'Contagem de criticas', 'Contagem de usuarios', 'Desenvolvedora',
                           'Outras vendas', 'Pontuacao da critica', 'Pontuacao dos usuarios', 'Vendas NA',
                           'Vendas EU', 'Vendas JP', 'Vendas globais'])
df_treino.to_csv(r'treino.csv', sep=',', index=False)
df_teste.to_csv(r'teste.csv', sep=',', index=False)

In [ ]:
treino = pd.read_csv('treino.csv')
treino.head()

In [ ]:
treino.describe()

In [ ]:
treino.info()

In [ ]:
teste = pd.read_csv('teste.csv')
teste.head()

In [ ]:
teste.describe()

In [ ]:
teste.info()