# Importando as bibliotecas e o dataset

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

data = pd.read_csv('datasets/video-game-sales-with-ratings/Video_Games_Sales_as_at_22_Dec_2016.csv')
data.columns = ['Nome', 'Plataforma', 'Ano de lancamento', 'Genero', 'Publicadora', 'Vendas NA', 'Vendas EU', 'Vendas JP', 'Outras vendas', 'Vendas globais', 'Pontuacao da critica', 'Contagem de criticas', 'Pontuacao dos usuarios', 'Contagem de usuarios', 'Desenvolvedora', 'Classificacao']
data.head()

,Nome,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

## Informações do dataset

### Informações gerais

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
Nome                      16717 non-null object
Plataforma                16719 non-null object
Ano de lancamento         16450 non-null float64
Genero                    16717 non-null object
Publicadora               16665 non-null object
Vendas NA                 16719 non-null float64
Vendas EU                 16719 non-null float64
Vendas JP                 16719 non-null float64
Outras vendas             16719 non-null float64
Vendas globais            16719 non-null float64
Pontuacao da critica      8137 non-null float64
Contagem de criticas      8137 non-null float64
Pontuacao dos usuarios    10015 non-null object
Contagem de usuarios      7590 non-null float64
Desenvolvedora            10096 non-null object
Classificacao             9950 non-null object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

### Estatísticas descritivas

In [3]:
data.describe()

,Ano de lancamento,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Contagem de usuarios
count,16450.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,8137.000000,8137.000000,7590.000000
mean,2006.487356,0.263330,0.145025,0.077602,0.047332,0.533543,68.967679,26.360821,162.229908
std,5.878995,0.813514,0.503283,0.308818,0.186710,1.547935,13.938165,18.980495,561.282326
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,24.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,81.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

### Anotações imediatas

A princípio penso em focar nas colunas Genre, Platform, Global_Sales, Critic_Score, User_Score e Rating.

## Limpando os dados

### Alterando valores da coluna Gênero

In [4]:
generos = data['Genero'].copy()
generos[generos== 'Sports'] = 0
generos[generos== 'Platform'] = 1
generos[generos== 'Racing'] = 2
generos[generos== 'Role-Playing'] = 3
generos[generos== 'Puzzle'] = 4
generos[generos== 'Misc'] = 5
generos[generos== 'Shooter'] = 6
generos[generos== 'Simulation'] = 7
generos[generos== 'Action'] = 8
generos[generos== 'Fighting'] = 9
generos[generos== 'Adventure'] = 10
generos[generos== 'Strategy'] = 11
data['Genero'] = generos

### Alterando valores da coluna Platform

In [5]:
plataforma = data['Plataforma'].copy()
plataforma[plataforma == 'Wii'] = 0
plataforma[plataforma == 'NES'] = 1
plataforma[plataforma == 'GB'] = 2
plataforma[plataforma == 'DS'] = 3
plataforma[plataforma == 'X360'] = 4
plataforma[plataforma == 'PS3'] = 5
plataforma[plataforma == 'PS2'] = 6
plataforma[plataforma == 'SNES'] = 7
plataforma[plataforma == 'GBA'] = 8
plataforma[plataforma == 'PS4'] = 9
plataforma[plataforma == '3DS'] = 10
plataforma[plataforma == 'N64'] = 11
plataforma[plataforma == 'PS'] = 12
plataforma[plataforma == 'XB'] = 13
plataforma[plataforma == 'PC'] = 14
plataforma[plataforma == '2600'] = 15
plataforma[plataforma == 'PSP'] = 16
plataforma[plataforma == 'XOne'] = 17
plataforma[plataforma == 'WiiU'] = 18
plataforma[plataforma == 'GC'] = 19
plataforma[plataforma == 'GEN'] = 20
plataforma[plataforma == 'DC'] = 21
plataforma[plataforma == 'PSV'] = 22
plataforma[plataforma == 'SAT'] = 23
plataforma[plataforma == 'SCD'] = 24
plataforma[plataforma == 'WS'] = 25
plataforma[plataforma == 'NG'] = 26
plataforma[plataforma == 'TG16'] = 27
plataforma[plataforma == '3DO'] = 28
plataforma[plataforma == 'GG'] = 29
plataforma[plataforma == 'PCFX'] = 30
data['Plataforma'] = plataforma

### Alterando valores da coluna Classificação

In [6]:
#1      E
#2      M
#3      T
#4      E10+
#5      K-A
#6      AO
#7      EC
#8      RP

classificacao = data['Classificacao'].copy()
classificacao[classificacao == 'E'] = 0
classificacao[classificacao == 'M'] = 1
classificacao[classificacao == 'T'] = 2
classificacao[classificacao == 'E10+'] = 3
classificacao[classificacao == 'K-A'] = 4
classificacao[classificacao == 'AO'] = 5
classificacao[classificacao == 'EC'] = 6
classificacao[classificacao == 'RP'] = 7
data['Classificacao'] = classificacao

### Alterando valores da coluna Publicadora

In [7]:
x = data['Publicadora'].unique()
for item in range(len(x)):
    b = data[data['Publicadora']==x[item]]
    b['Publicadora'] = item
    data[data['Publicadora']==x[item]] = b

/home/jackson/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

### Alterando valores da coluna Desenvolvedora

In [8]:
x = data['Desenvolvedora'].unique()
for item in range(len(x)):
    b = data[data['Desenvolvedora']==x[item]]
    b['Desenvolvedora'] = item
    data[data['Desenvolvedora']==x[item]] = b

/home/jackson/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

### Retirando valores vazios restantes

In [9]:
data = data[data['Pontuacao dos usuarios'] != 'tbd']
data = data[data['Genero'].isna() != True]
data['Pontuacao dos usuarios'].astype('float64')
# # data = data.dropna()
data.to_csv(r'fileCleaned.csv', sep=',', index=False)
data = pd.read_csv('fileCleaned.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14292 entries, 0 to 14291
Data columns (total 16 columns):
Nome                      14292 non-null object
Plataforma                14292 non-null int64
Ano de lancamento         14071 non-null float64
Genero                    14292 non-null int64
Publicadora               14240 non-null float64
Vendas NA                 14292 non-null float64
Vendas EU                 14292 non-null float64
Vendas JP                 14292 non-null float64
Outras vendas             14292 non-null float64
Vendas globais            14292 non-null float64
Pontuacao da critica      7055 non-null float64
Contagem de criticas      7055 non-null float64
Pontuacao dos usuarios    7590 non-null float64
Contagem de usuarios      7590 non-null float64
Desenvolvedora            7693 non-null float64
Classificacao             7575 non-null float64
dtypes: float64(13), int64(2), object(1)
memory usage: 1.7+ MB

### Criando uma coluna com as médias de pontuação

In [10]:
data['Media de pontuacao'] = 0.0

data['Plataforma'].astype('int64')
# data['Genero'].astype('int64')
# data['Ano de lancamento'].astype('int64')
data['Vendas globais'].astype('float64')
data['Pontuacao da critica'].astype('float64')
# data['Classificacao'].astype('int64')
data['Media de pontuacao'].astype('float64')
# data['Ano de lancamento'].astype('int64')

def media(x, y):
    return (x+y)/2
data['Media de pontuacao'] = data.apply(lambda row: media(row['Pontuacao da critica'], row['Pontuacao dos usuarios']), axis=1)
data.head()

,Nome,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao,Media de pontuacao
0,Wii Sports,0,2006.0,0,0.0,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,0.0,0.0,42.00
1,Super Mario Bros.,1,1985.0,1,0.0,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,0,2008.0,2,0.0,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,0.0,0.0,45.15
3,Wii Sports Resort,0,2009.0,0,0.0,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,0.0,0.0,44.00
4,Pokemon Red/Pokemon Blue,2,1996.0,3,0.0,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Informações finais do Dataframe

In [11]:
data.describe()

,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao,Media de pontuacao
count,14292.000000,14071.000000,14292.000000,14240.000000,14292.000000,14292.000000,14292.000000,14292.000000,14292.000000,7055.000000,7055.000000,7590.000000,7590.000000,7693.000000,7575.000000,7017.000000
mean,9.135740,2006.325705,5.369018,61.255126,0.286525,0.162234,0.090316,0.052672,0.591963,70.233877,28.689865,7.125046,162.229908,382.090602,1.303894,38.716125
std,5.925674,6.175417,3.441523,104.826374,0.874510,0.540508,0.332168,0.200809,1.662698,13.885728,19.165047,1.500006,561.282326,389.685844,1.070059,7.382256
min,0.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,0.000000,4.000000,0.000000,0.000000,7.000000
25%,4.000000,2003.000000,2.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.060000,62.000000,14.000000,6.400000,10.000000,77.000000,0.000000,34.450000
50%,8.000000,2007.000000,6.000000,15.000000,0.080000,0.030000,0.000000,0.010000,0.190000,72.000000,24.000000,7.500000,24.000000,245.000000,1.000000,39.900000
75%,14.000000,2011.000000,8.000000,53.000000,0.260000,0.130000,0.050000,0.040000,0.540000,80.000000,39.000000,8.200000,81.000000,565.000000,2.000000,44.100000
max,30.000000,2017.000000,11.000000,581.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,9.700000,10665.000000,1695.000000,7.000000,53.400000

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14292 entries, 0 to 14291
Data columns (total 17 columns):
Nome                      14292 non-null object
Plataforma                14292 non-null int64
Ano de lancamento         14071 non-null float64
Genero                    14292 non-null int64
Publicadora               14240 non-null float64
Vendas NA                 14292 non-null float64
Vendas EU                 14292 non-null float64
Vendas JP                 14292 non-null float64
Outras vendas             14292 non-null float64
Vendas globais            14292 non-null float64
Pontuacao da critica      7055 non-null float64
Contagem de criticas      7055 non-null float64
Pontuacao dos usuarios    7590 non-null float64
Contagem de usuarios      7590 non-null float64
Desenvolvedora            7693 non-null float64
Classificacao             7575 non-null float64
Media de pontuacao        7017 non-null float64
dtypes: float64(14), int64(2), object(1)
memory usage: 1.9+ MB

### Salvando arquivo

In [13]:
# fileCleaned = pd.DataFrame(data={'Platform': data['Platform'], 'Genre': data['Genre'], 'Global_Sales': data['Global_Sales'],
#      'Critic_Score': data['Critic_Score'], 'User_Score': data['User_Score'], 'Rating': data['Rating'], 'Score_Mean': data['Score_Mean']})
# fileCleaned.dropna().to_csv(r'fileCleaned.csv', sep=',', index=False)

# data.to_csv(r'fileCleaned.csv', sep=',', index=False)

### Abrindo o arquivo novamente

In [14]:
# data = pd.read_csv('fileCleaned.csv')
# data

In [15]:
data.describe()

,Plataforma,Ano de lancamento,Genero,Publicadora,Vendas NA,Vendas EU,Vendas JP,Outras vendas,Vendas globais,Pontuacao da critica,Contagem de criticas,Pontuacao dos usuarios,Contagem de usuarios,Desenvolvedora,Classificacao,Media de pontuacao
count,14292.000000,14071.000000,14292.000000,14240.000000,14292.000000,14292.000000,14292.000000,14292.000000,14292.000000,7055.000000,7055.000000,7590.000000,7590.000000,7693.000000,7575.000000,7017.000000
mean,9.135740,2006.325705,5.369018,61.255126,0.286525,0.162234,0.090316,0.052672,0.591963,70.233877,28.689865,7.125046,162.229908,382.090602,1.303894,38.716125
std,5.925674,6.175417,3.441523,104.826374,0.874510,0.540508,0.332168,0.200809,1.662698,13.885728,19.165047,1.500006,561.282326,389.685844,1.070059,7.382256
min,0.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,0.000000,4.000000,0.000000,0.000000,7.000000
25%,4.000000,2003.000000,2.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.060000,62.000000,14.000000,6.400000,10.000000,77.000000,0.000000,34.450000
50%,8.000000,2007.000000,6.000000,15.000000,0.080000,0.030000,0.000000,0.010000,0.190000,72.000000,24.000000,7.500000,24.000000,245.000000,1.000000,39.900000
75%,14.000000,2011.000000,8.000000,53.000000,0.260000,0.130000,0.050000,0.040000,0.540000,80.000000,39.000000,8.200000,81.000000,565.000000,2.000000,44.100000
max,30.000000,2017.000000,11.000000,581.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,9.700000,10665.000000,1695.000000,7.000000,53.400000

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14292 entries, 0 to 14291
Data columns (total 17 columns):
Nome                      14292 non-null object
Plataforma                14292 non-null int64
Ano de lancamento         14071 non-null float64
Genero                    14292 non-null int64
Publicadora               14240 non-null float64
Vendas NA                 14292 non-null float64
Vendas EU                 14292 non-null float64
Vendas JP                 14292 non-null float64
Outras vendas             14292 non-null float64
Vendas globais            14292 non-null float64
Pontuacao da critica      7055 non-null float64
Contagem de criticas      7055 non-null float64
Pontuacao dos usuarios    7590 non-null float64
Contagem de usuarios      7590 non-null float64
Desenvolvedora            7693 non-null float64
Classificacao             7575 non-null float64
Media de pontuacao        7017 non-null float64
dtypes: float64(14), int64(2), object(1)
memory usage: 1.9+ MB

### Separando dados de treino e teste

In [17]:
from sklearn.model_selection import ShuffleSplit
rs = ShuffleSplit(n_splits=1, test_size=0.33, random_state=42)
array_train = []
array_test = []
columns = ['Nome', 'Plataforma', 'Ano de lancamento', 'Genero', 'Publicadora', 'Vendas NA', 'Vendas EU', 'Vendas JP',
           'Outras vendas', 'Vendas globais', 'Pontuacao da critica', 'Contagem de criticas', 'Pontuacao dos usuarios', 
           'Contagem de usuarios', 'Desenvolvedora', 'Classificacao', 'Media de pontuacao']

for train_index, test_index in rs.split(data):
    #Treino
    array_train.append(train_index)
    #df_treino = pd.DataFrame(data={'Plataforma': [], 'Genero': [], 'Classificacao': []})
    ar_treino = []
    ar_teste = []
    for x in train_index:
        dict_treino = {'Plataforma': data.loc[x,'Plataforma'], 'Genero': data.loc[x,'Genero']}
        ar_treino.append(dict_treino)
    df_treino = pd.DataFrame(data=ar_treino)
    for x in test_index:
        dict_teste = {'Nome': data.loc[x,'Nome'], 'Plataforma': data.loc[x,'Plataforma'],
                       'Ano de lancamento': data.loc[x,'Ano de lancamento'], 'Genero': data.loc[x,'Genero'],
                       'Publicadora': data.loc[x,'Publicadora'], 'Vendas NA': data.loc[x,'Vendas NA'],
                       'Vendas EU': data.loc[x,'Vendas EU'], 'Vendas JP': data.loc[x,'Vendas JP'],
                       'Outras vendas': data.loc[x,'Outras vendas'], 'Vendas globais': data.loc[x,'Vendas globais'],
                       'Pontuacao da critica': data.loc[x,'Pontuacao da critica'], 'Contagem de criticas': data.loc[x,'Contagem de criticas'],
                       'Pontuacao dos usuarios': data.loc[x,'Pontuacao dos usuarios'], 'Contagem de usuarios': data.loc[x,'Contagem de usuarios'],
                       'Desenvolvedora': data.loc[x,'Desenvolvedora'], 'Classificacao': data.loc[x,'Classificacao'],
                       'Media de pontuacao': data.loc[x,'Media de pontuacao']}
        ar_teste.append(dict_teste)
    df_teste = pd.DataFrame(data=ar_teste)
    
df_treino.to_csv(r'treino.csv', sep=',', index=False)
df_teste.to_csv(r'teste.csv', sep=',', index=False)

In [18]:
treino = pd.read_csv('treino.csv')
treino

      Genero  Plataforma
0          8           6
1         10          12
2          6           4
3          3           4
4          3          16
5          8           5
6          6           6
7          6          14
8          0           0
9          9           4
10         3           5
11         0           0
12         8           4
13         1           3
14         0           6
15         8          19
16         5           3
17         3          14
18         9           6
19         5           0
20         7           0
21         8          12
22         8           6
23         6          19
24         0           6
25         8          10
26         7          19
27         8           0
28         0           5
29         2           6
...      ...         ...
9545       7          10
9546       6           0
9547       3           8
9548       2           6
9549       3           6
9550       7           0
9551       1          17
9552       3           6
9553       2          11
9554       0           5
9555       0           3
9556       0           0
9557       1           7
9558       0           6
9559       9          12
9560       5           4
9561       1          19
9562      11           3
9563       5           3
9564       9           9
9565       0           6
9566       8          13
9567       9           6
9568       9           6
9569      11          12
9570       8           4
9571       7           0
9572       8          15
9573       0           1
9574       9           5

[9575 rows x 2 columns]

In [19]:
treino.describe()

            Genero   Plataforma
count  9575.000000  9575.000000
mean      5.396658     9.187572
std       3.438096     5.927466
min       0.000000     0.000000
25%       2.000000     4.000000
50%       6.000000     8.000000
75%       8.000000    14.000000
max      11.000000    30.000000

In [20]:
treino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9575 entries, 0 to 9574
Data columns (total 2 columns):
Genero        9575 non-null int64
Plataforma    9575 non-null int64
dtypes: int64(2)
memory usage: 149.7 KB

In [21]:
teste = pd.read_csv('teste.csv')
teste

,Ano de lancamento,Classificacao,Contagem de criticas,Contagem de usuarios,Desenvolvedora,Genero,Media de pontuacao,Nome,Outras vendas,Plataforma,Pontuacao da critica,Pontuacao dos usuarios,Publicadora,Vendas EU,Vendas JP,Vendas NA,Vendas globais
0,NaN,2.0,19.0,12.0,250.0,3,30.25,Virtua Quest,0.00,19,55.0,5.5,53.0,0.00,0.00,0.01,0.01
1,2008.0,3.0,11.0,6.0,260.0,10,32.90,Bolt,0.02,5,59.0,6.8,32.0,0.04,0.00,0.12,0.19
2,NaN,1.0,16.0,1096.0,189.0,8,42.00,Dead Space 3,0.02,14,78.0,6.0,7.0,0.16,0.00,0.02,0.19
3,2006.0,NaN,NaN,NaN,NaN,10,NaN,Kamaitachi no Yoru 2: Tokubetsu Hen,0.00,16,NaN,NaN,120.0,0.00,0.01,0.00,0.01
4,2007.0,0.0,21.0,11.0,1397.0,4,38.75,Nervous Brickdown,0.00,3,70.0,7.5,21.0,0.01,0.00,0.00,0.02
5,2001.0,0.0,16.0,NaN,782.0,4,NaN,Bomberman Tournament,0.01,8,88.0,NaN,4.0,0.04,0.10,0.10,0.25
6,2010.0,NaN,NaN,NaN,NaN,5,NaN,Atari's Greatest Hits: Volume 1,0.01,3,NaN,NaN,10.0,0.00,0.00,0.13,0.14
7,1998.0,NaN,NaN,NaN,NaN,0,NaN,NHL FaceOff 2000,0.02,12,NaN,NaN,3.0,0.12,0.00,0.17,0.31
8,2002.0,0.0,24.0,65.0,85.0,0,51.05,World Soccer Winning Eleven 6 International,0.45,6,93.0,9.1,14.0,1.26,1.16,0.12,2.99
9,2010.0,NaN,NaN,NaN,NaN,8,NaN,Bakugan: Battle Trainer,0.01,3,NaN,NaN,4.0,0.00,0.00,0.12,0.13
10,2010.0,1.0,74.0,267.0,214.0,8,44.50,Just Cause 2,0.17,4,81.0,8.0,15.0,0.83,0.02,0.59,1.60
11,1995.0,NaN,NaN,NaN,NaN,0,NaN,International Superstar Soccer Deluxe,0.00,7,NaN,NaN,14.0,0.00,0.16,0.00,0.16
12,1999.0,NaN,NaN,NaN,NaN,7,NaN,Nuclear Strike 64,0.00,11,NaN,NaN,28.0,0.02,0.00,0.09,0.11
13,2008.0,2.0,61.0,87.0,162.0,9,39.75,Mortal Kombat vs. DC Universe,0.16,4,72.0,7.5,39.0,0.23,0.00,1.53,1.93
14,2010.0,0.0,5.0,27.0,1460.0,7,27.60,Ship Simulator Extremes,0.01,14,49.0,6.2,310.0,0.04,0.00,0.00,0.05
15,2010.0,NaN,NaN,NaN,NaN,8,NaN,Kung Zhu,0.02,3,NaN,NaN,4.0,0.00,0.00,0.26,0.28
16,2015.0,NaN,NaN,NaN,NaN,6,NaN,Call of Duty: Black Ops 3,0.68,17,NaN,NaN,4.0,2.11,0.01,4.59,7.39
17,1994.0,NaN,NaN,NaN,NaN,2,NaN,Daytona USA,0.00,23,NaN,NaN,8.0,0.00,0.55,0.00,0.55
18,2012.0,NaN,NaN,NaN,NaN,8,NaN,Fatal Frame 2: Wii Edition,0.00,0,NaN,NaN,0.0,0.00,0.10,0.00,0.10
19,2011.0,NaN,NaN,NaN,NaN,5,NaN,Start the Party! Save the World,0.02,5,NaN,NaN,3.0,0.08,0.00,0.00,0.10
20,2015.0,NaN,NaN,NaN,NaN,10,NaN,Chaos;Child,0.00,9,NaN,NaN,357.0,0.00,0.01,0.00,0.01
21,2007.0,2.0,42.0,22.0,188.0,8,33.70,Dynasty Warriors 6,0.02,4,60.0,7.4,48.0,0.06,0.06,0.15,0.30
22,NaN,2.0,49.0,66.0,46.0,3,45.95,Final Fantasy XI,0.02,6,85.0,6.9,53.0,0.06,0.15,0.08,0.32
23,2010.0,3.0,6.0,4.0,389.0,5,25.65,Dance on Broadway,0.12,0,48.0,3.3,5.0,0.65,0.00,0.25,1.02
24,2005.0,0.0,NaN,23.0,69.0,0,NaN,World Soccer Winning Eleven 9,0.77,6,NaN,8.2,14.0,2.26,0.90,0.12,4.06
25,2007.0,0.0,19.0,7.0,276.0,0,39.35,Major League Baseball 2K7,0.02,5,74.0,4.7,130.0,0.00,0.00,0.23,0.25
26,2010.0,2.0,11.0,5.0,875.0,7,22.10,Naval Assault: The Killing Tide,0.02,4,40.0,4.2,11.0,0.07,0.00,0.08,0.17
27,2005.0,3.0,22.0,120.0,125.0,1,28.80,Shadow The Hedgehog,0.03,19,51.0,6.6,8.0,0.20,0.00,0.76,0.99
28,2012.0,NaN,NaN,NaN,NaN,8,NaN,Natalie Brooks: Mystery at Hillcrest High,0.00,3,NaN,NaN,520.0,0.02,0.00,0.00,0.02
29,2006.0,3.0,7.0,4.0,776.0,10,41.90,Snoopy vs the Red Baron,0.00,16,76.0,7.8,25.0,0.00,0.00,0.04,0.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4687,2006.0,0.0,30.0,31.0,421.0,0,45.95,MLB 06: The Show,0.13,6,83.0,8.9,3.0,0.03,0.00,0.78,0.94
4688,2013.0,1.0,82.0,6157.0,586.0,11,41.05,Company of Heroes 2,0.04,14,80.0,2.1,28.0,0.25,0.00,0.06,0.34
4689,2012.0,3.0,44.0,86.0,22.0,0,44.80,NHL 13,0.05,4,83.0,6.6,7.0,0.10,0.00,0.51,0.66
4690,2011.0,2.0,4.0,14.0,1200.0,7,25.55,JASF: Jane's Advanced Strike Fighters,0.00,14,48.0,3.1,41.0,0.01,0.00,0.02,0.04
4691,2004.0,0.0,20.0,6.0,921.0,0,42.40,Hamtaro: Ham-Ham Games,0.00,8,77.0,7.8,0.0,0.06,0.00,0.16,0.22
4692,2008.0,NaN,NaN,NaN,NaN,0,NaN,Football Manager Handheld 2009,0.02,16,NaN,NaN,8.0,0.47,0.00,0.00,0.48
4693,2006.0,2.0,19.0,6.0,775.0,11,26.40,SNK vs. Capcom Card Fighters DS,0.01,3,48.0,4.8,153.0,0.00,0.00,0.09,0.10
4694,2005.0,2.0,54.0,23.0,298.0,8,43.15,Project: Snowblind,0.03,6,78.0,8.3,21.0,0.08,0.00,0.10,0.21
4695,1997.0,NaN,NaN,NaN,NaN,7,NaN,MechWarrior 2: 31st Century Combat,0.02,12,NaN,NaN,4.0,0.14,0.00,0.20,0.36
4696,2008.0,NaN,NaN,NaN,NaN,8,NaN,Chokkan! Asonde Relaxuma,0.00,3,NaN,NaN,138.0,0.00,0.01,0.00,0.01
4697,1998.0,NaN,NaN,NaN,NaN,8,NaN,Tiny Tank,0.02,12,NaN,NaN,3.0,0.13,0.00,0.19,0.34
4698,2006.0,3.0,26.0,15.0,294.0,2,44.60,TOCA Race Driver 3,0.01,6,82.0,7.2,34.0,0.03,0.00,0.04,0.08
4699,2003.0,2.0,24.0,13.0,543.0,1,32.60,X2: Wolverine's Revenge,0.08,6,58.0,7.2,4.0,0.24,0.00,0.31,0.64
4700,NaN,1.0,33.0,13.0,203.0,9,46.25,Def Jam: Fight for NY,0.02,13,84.0,8.5,7.0,0.10,0.00,0.43,0.54
4701,1994.0,NaN,NaN,NaN,NaN,0,NaN,Kirby's Dream Course,0.00,7,NaN,NaN,0.0,0.00,0.59,0.00,0.59
4702,2011.0,NaN,NaN,NaN,NaN,5,NaN,Pop'n Music Portable 2,0.00,16,NaN,NaN,14.0,0.00,0.06,0.00,0.06
4703,2007.0,NaN,NaN,NaN,NaN,8,NaN,Busou Renkin: Youkoso Papillon Park e,0.00,6,NaN,NaN,214.0,0.00,0.02,0.00,0.02
4704,2007.0,NaN,NaN,NaN,NaN,8,NaN,Avatar: The Last Airbender - The Burning Earth,0.01,4,NaN,NaN,28.0,0.01,0.00,0.11,0.13
4705,2003.0,2.0,26.0,47.0,156.0,9,42.35,WWE Wrestlemania XIX,0.01,19,76.0,8.7,28.0,0.07,0.00,0.26,0.33
4706,2014.0,3.0,4.0,18.0,140.0,8,46.55,Skylanders: Trap Team,0.06,18,86.0,7.1,4.0,0.26,0.00,0.38,0.70
4707,2002.0,2.0,23.0,12.0,22.0,0,42.05,Knockout Kings 2002,0.12,6,76.0,8.1,7.0,0.35,0.00,0.45,0.91
4708,2005.0,NaN,NaN,NaN,NaN,8,NaN,Shrek SuperSlam,0.01,3,NaN,NaN,4.0,0.00,0.00,0.17,0.18
4709,2011.0,1.0,7.0,33.0,1040.0,8,30.50,The Cursed Crusade,0.01,14,55.0,6.0,233.0,0.03,0.00,0.00,0.03
4710,2001.0,NaN,NaN,NaN,NaN,10,NaN,Taiho Shichauzo!,0.00,12,NaN,NaN,186.0,0.00,0.05,0.00,0.05
4711,1998.0,NaN,NaN,NaN,NaN,0,NaN,NFL Quarterback Club 99,0.00,11,NaN,NaN,30.0,0.02,0.00,0.59,0.62
4712,NaN,2.0,26.0,15.0,50.0,1,37.95,Haven: Call of the King,0.04,6,69.0,6.9,39.0,0.11,0.00,0.14,0.28
4713,2004.0,0.0,35.0,6.0,294.0,2,45.25,Colin McRae Rally 2005,0.00,13,83.0,7.5,34.0,0.01,0.00,0.04,0.05
4714,2013.0,1.0,5.0,148.0,405.0,8,41.40,Tom Clancy's Splinter Cell: Blacklist,0.01,18,75.0,7.8,5.0,0.07,0.00,0.04,0.12
4715,2009.0,NaN,NaN,NaN,NaN,6,NaN,Sin and Punishment: Star Successor,0.03,0,NaN,NaN,0.0,0.14,0.06,0.19,0.42
4716,2011.0,NaN,NaN,NaN,NaN,0,NaN,Pro Yaky? Spirits 2011,0.00,16,NaN,NaN,14.0,0.00,0.24,0.00,0.24

In [22]:
teste.describe()

,Ano de lancamento,Classificacao,Contagem de criticas,Contagem de usuarios,Desenvolvedora,Genero,Media de pontuacao,Outras vendas,Plataforma,Pontuacao da critica,Pontuacao dos usuarios,Publicadora,Vendas EU,Vendas JP,Vendas NA,Vendas globais
count,4644.000000,2518.000000,2340.000000,2516.000000,2551.000000,4717.000000,2329.000000,4717.000000,4717.000000,2340.000000,2516.000000,4704.000000,4717.000000,4717.000000,4717.000000,4717.000000
mean,2006.306848,1.300238,29.084615,164.953100,381.683653,5.312911,38.718227,0.056010,9.030528,70.277778,7.122893,61.083546,0.169347,0.095241,0.295813,0.616519
std,6.174952,1.069128,19.621703,598.306708,394.178954,3.448154,7.363114,0.251452,5.921268,13.843587,1.486172,103.915994,0.658819,0.333970,0.968660,1.938877
min,1980.000000,0.000000,3.000000,4.000000,0.000000,0.000000,10.150000,0.000000,0.000000,19.000000,0.300000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,2003.000000,0.000000,14.000000,10.000000,74.000000,2.000000,34.450000,0.000000,4.000000,62.000000,6.400000,7.000000,0.000000,0.000000,0.000000,0.070000
50%,2007.000000,1.000000,24.000000,24.000000,243.000000,6.000000,39.850000,0.010000,7.000000,72.000000,7.500000,15.000000,0.030000,0.000000,0.080000,0.190000
75%,2011.000000,2.000000,39.000000,81.000000,565.000000,8.000000,44.050000,0.040000,13.000000,80.000000,8.200000,53.000000,0.130000,0.060000,0.260000,0.540000
max,2017.000000,7.000000,107.000000,10665.000000,1694.000000,11.000000,52.700000,10.570000,29.000000,97.000000,9.600000,580.000000,28.960000,5.650000,41.360000,82.530000

In [23]:
teste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4717 entries, 0 to 4716
Data columns (total 17 columns):
Ano de lancamento         4644 non-null float64
Classificacao             2518 non-null float64
Contagem de criticas      2340 non-null float64
Contagem de usuarios      2516 non-null float64
Desenvolvedora            2551 non-null float64
Genero                    4717 non-null int64
Media de pontuacao        2329 non-null float64
Nome                      4717 non-null object
Outras vendas             4717 non-null float64
Plataforma                4717 non-null int64
Pontuacao da critica      2340 non-null float64
Pontuacao dos usuarios    2516 non-null float64
Publicadora               4704 non-null float64
Vendas EU                 4717 non-null float64
Vendas JP                 4717 non-null float64
Vendas NA                 4717 non-null float64
Vendas globais            4717 non-null float64
dtypes: float64(14), int64(2), object(1)
memory usage: 626.6+ KB